{%extends 'all-awards/base.html'%}

{% block content %}
{{block.super}}
<div class="container">
   <div class="row">
       <div class="col-md-10">

        {% for photo in photos %}
        <div class="card my-2">
            <img class="image-thumbail"
                src="{{photo.image.url }}"
                alt="Card image cap">

            <div class="card-body">
                <h5 class="card-title"></h5>
                <small>Category: {{ photo.project.title }}</small>
            </div>

           
        </div>
       </div>
       {% endfor %}
       <div class="col-md-2">

       </div>
   </div>
</div>
{% endblock %}