{%extends 'all-awards/base.html'%}

{% block content %}
{{block.super}}
<div class="m-5">
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <a href="{% url 'home' %}" class="btn btn-dark my-3">Back to Projects</a>
            <div style="height:70vh">
                <img style="max-height: 100%; max-width: 100%;"
                src="{{ project.image.url }}">
                {{ project.author }}
                <p>Lady in Bali</p>
                
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}